services:
  surve-bot-dev:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - /home/yury/.kube/config.nebula:/home/vscode/.kube/config
      - /home/yury/.netrc:/home/vscode/.netrc
      - ..:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"

  postgres:
    image: postgres:11
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres